<div class="recipeContainer">
	<h1>Recipe</h1>
	<h2>
		<%= @recipe.name %>
	</h2>
	<% if @recipe.image.attached? %>
		<div>
			<%= image_tag(@recipe.image) %>
		</div>
	<% end %>
	<h2>Ingredients</h2>
	<% @recipe.ingredients.each do |ingredient| %>
		<div class="ingredient">
			<div class="imageContainer">
				<% if ingredient.food.image.attached? %>
					<%= image_tag(ingredient.food.image) %>
				<% end %>
			</div>
			<div>
				<%= ingredient.food.name %>
			</div>
			<div>
				Quantity: <%= ingredient.quantity %>
			</div>
			<div>
				Weight: <%= number_with_precision(ingredient.weight_in_mg, precision: 2) %>
			</div>
		</div>
	<% end %>
</div>
<div class="recipeContainer">
	<h2>
		Instructions:
	</h2>
	<div>
		<%= @recipe.content %>
	</div>
</div>
<div class="formContainer left">
	<h1>Add ingredient to recipe:</h1>
	<%= form_for @ingredient do |form| %>
		<div>
			<%= form.collection_select :food_id, @foods, :id, :name, {prompt: "Select a food"}, required: true %>
		</div>
		<div>
			<%= form.label :quantity %>
	    	<%= form.number_field :quantity %>
	    </div>
	    <div>
			<%= form.label :weight_in_mg %>
	    	<%= form.number_field :weight_in_mg, step: "0.01" %>
	    </div>
	    <div>
	    	<%= form.hidden_field :recipe_id, value: @recipe.id %>
	    </div>
	    <div>
	    	<%= form.submit "Save" %>
	    </div>
	<% end %>
</div>