<%= link_to food_path(food), class: "food" do %>
	<% if food.respond_to?(:pg_search_highlight) %>
		<div class="imageContainer">
			<% if food.image.attached? %>
				<%= image_tag(food.image) %>
			<% else %>
				<%= image_tag(food.image_url) %>
			<% end %>
		</div>
		<%= food.pg_search_highlight.html_safe %>
	<% else %>
		<div class="imageContainer">
			<% if food.image.attached? %>
				<%= image_tag(food.image) %>
			<% else %>
				<%= image_tag(food.image_url) %>
			<% end %>
		</div>
		<%= food.name %>
	<% end %>
<% end %>