<div class="formContainer">
	<%= form_for @food do |form| %>
		<div>
			<%= form.label :name %>
	    	<%= form.text_field :name, required: true %>
	    </div>
	    <div>
			<%= form.label :category %>
	    	<%= form.text_field :category, required: true %>
	    </div>
	    <div>
			<%= form.label :image_url %>
	    	<%= form.text_field :image_url %>
	    </div>
	    <div>
			<%= form.label :buy_from_url %>
	    	<%= form.text_field :buy_from_url %>
	    </div>
	    <div>
			<%= form.label :expirable %><br>
	    	<%= form.select :expirable, [true, false], required: true %>
	    </div>
	    <div>
	    	<%= form.label :image %><br>
	    	<%= form.file_field :image %>
	    </div>
	    <div>
	    	<%= form.submit "Save Food" %>
	    </div>
	<% end %>
</div>