<div class="foodContainer">
	<h1><%= @food.name %></h1>
	<% if @food.image.attached? %>
		<%= image_tag(@food.image) %>
	<% end %>
</div>

<div class="formContainer left">
	<h1>Add to current inventory:</h1>
	<%= form_for @food_item do |form| %>
		<div>
			<%= form.label :quantity %>
	    	<%= form.number_field :quantity %>
	    </div>
	    <div>
			<%= form.label :weight_in_mg %>
	    	<%= form.number_field :weight_in_mg, step: "0.01" %>
	    </div>
	    <div>
	    	<%= form.hidden_field :food_id, value: @food.id %>
	    </div>
	    <div>
	    	<%= form.submit "Save" %>
	    </div>
	<% end %>
</div>