<div class="currentInventory">
	<h1>
		Current Inventory
	</h1>
	<% current_user.food_items.each do |food_item| %>
		<div class="foodItem">
			<div>
				<%= food_item.food.name %>
			</div>
			<div>
				Quantity: <%= food_item.quantity %>
			</div>
			<div>
				Weight (mg): <%= food_item.weight_in_mg %>
			</div>
		</div>
	<% end %>
</div>

<div class="formContainer">
	<h1>Add to current inventory:</h1>
	<%= form_for @food_item do |form| %>
		<div>
			<%= form.collection_select :id, @foods, :id, :name, {prompt: "Select a food"} %>
		</div>
		<div>
			<%= form.label :quantity %>
	    	<%= form.number_field :quantity %>
	    </div>
	    <div>
			<%= form.label :weight_in_mg %>
	    	<%= form.number_field :weight_in_mg, step: "0.01" %>
	    </div>
	    <div>
	    	<%= form.submit "Save" %>
	    </div>
	<% end %>
</div>