Welcome to your food list:

<% current_user.food_items.each do |food_item| %>
	<%= food_item %>
<% end %>

<div class="formContainer">
	<%= form_for @food_item do |form| %>
		<div>
			<%= form.collection_select :id, @foods, :id, :name, {prompt: "Select a food"} %>
		</div>
		<div>
			<%= form.label :quantity %>
	    	<%= form.number_field :quantity %>
	    </div>
	    <div>
			<%= form.label :weight %>
	    	<%= form.text_field :weight, step: "0.01" %>
	    </div>
	    <!-- to do, create a select dropdown of all available foods here -->
	    <div>
	    	<%= form.submit "Save" %>
	    </div>
	<% end %>
</div>