<nav>
	<div class="navbarLogo">
		<%= link_to "Home", root_path %>
	</div>
	<div class="navbarContents">
		<% if current_user %>
			<% if current_user.admin %>
				<%= link_to('New Food', new_food_path) %>
			<% end %>
			<%= link_to('Logout', destroy_user_session_path, method: :delete) %>
		<% else %>
			<%= link_to('Login', new_user_session_path) %>
			<%= link_to('Sign Up', new_user_registration_path) %>
		<% end %>
	</div>
	<div class="navbarMobile">
		<button class="hamburger hamburger--3dx" type="button">
			<span class="hamburger-box">
				<span class="hamburger-inner"></span>
			</span>
		</button>
		<ul class="navbarMobileLinks">
			<% if current_user %>
				<% if current_user.admin %>
					<li>
						<%= link_to('New Food', new_food_path) %>
					</li>
				<% end %>
				<li>
					<%= link_to('Logout', destroy_user_session_path, method: :delete) %>
				</li>
			<% else %>
				<li>
					<%= link_to('Login', new_user_session_path) %>
				</li>
				<li>
					<%= link_to('Sign Up', new_user_registration_path) %>
				</li>
			<% end %>
		</ul>
	</div>
</nav>